.navBar {
    display: flex;
    align-items: first baseline;
    gap: 10px;
    background-color: #333;
    padding: 10px;
  }
  
  .nav-button {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .nav-button:hover {
    background-color: #ddd;
  }
  